In [54]:
#Print each character in a string: Write a for loop that takes a user-inputted string and prints each character on a new line.
x=input("Enter a String :")
for y in x:
    print (y)

Enter a String :Manha
M
a
n
h
a

In [55]:
#. Print the first 10 natural numbers: Use a for loop to print numbers from 1 to 10.
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [56]:
#. Sum of the first 20 natural numbers: Use a while loop to calculate and print the sum.
x=1
sum=0
while x <= 20:
    sum += x
    x=x+1

print(sum)

210

In [59]:
#Count down from a given number: Use a while loop to count down from a given number to 0.
x=int(input('Enter any number : '))

while x >= 0:
    print(x)
    x-=1

Enter any number : 8
8
7
6
5
4
3
2
1
0

In [60]:
#Even numbers in a range: Write a for loop to print all even numbers from 1 to 50.
for x in range(0,51):
   if x%2==0 :
       print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [61]:
#Print the multiplication table of a given number: Use a for loop to print the multiplication table of any number entered by the user (up to 10 times the number).
x=int(input('Enter any Number : '))
for y in range(1,11):
    z=x*y
    print(f'{x}*{y}={z}')

Enter any Number : 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [67]:
#Find the factorial of a number: Use a while loop to calculate and print the factorial of a given positive integer.

n=int(input('Enter any Number : '))
f=1
while n > 1:
    f *= n
    n -= 1
print(f'the factorial of the number is {f}')

Enter any Number : 5
the factorial of the number is 120

In [68]:
#. Sum of all odd numbers in a range: Use a for loop to find the sum of all odd numbers between two user-inputted numbers.

x=int(input('Enter a Number : '))
y=int(input('Enter a Number : '))
sum=0

for z in range(x,y):

    if z %2 != 0:
        sum +=z
        z -=1
print(sum)

Enter a Number : 3
Enter a Number : 9
15

In [69]:
#. Display numbers divisible by 3 and 5: Use a for loop to display numbers between 1 and 100 that are divisible by both 3 and 5.
for x in range(1,101):
    if x%3 == 0 and x%5==0:
        print(x)

15
30
45
60
75
90

In [71]:
# . Fibonacci sequence: Use a while loop to print the Fibonacci sequence up to the 10th term.

a=0
b=1
count=0
while count< 10:
    print(a)
    a=b
    b=a+b
    count +=1

0
1
2
4
8
16
32
64
128
256

In [79]:
#Guess the secret number game: Use a while loop to allow the user multiple chances to guess a predefined secret number, providing feedback if the guess is too high or too low.


s_n=78
x=0
while s_n != x:
    x=int(input('Enter a number :' ))
    if x == s_n :
        print('YAYY YOU GOT IT GURL')
    elif x >= s_n:
        print('Too High')
    else:
        print('Too Low')

Enter a number :65
Too Low
Enter a number :79
Too High
Enter a number :78
YAYY YOU GOT IT GURL

In [80]:
# Calculate compound interest for each year: Using a for loop, calculate and print the compound interest for each year up to 5 years for a given principal, rate, and time period.

principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual interest rate (in %): ")) / 100
time = 5
for yr in range(1, time+ 1):
    amount = principal * (1 + rate) ** yr
    ci = amount - principal
    print(f"Year {yr}: Compound Interest = {ci:.2f}")

Enter the principal amount: 10000
Enter the annual interest rate (in %): 10
Year 1: Compound Interest = 1000.00
Year 2: Compound Interest = 2100.00
Year 3: Compound Interest = 3310.00
Year 4: Compound Interest = 4641.00
Year 5: Compound Interest = 6105.10

In [89]:
# Reverse a string: Write a for loop to reverse a user-inputted string.

string = input("Enter a string: ")
Reversed = ""
for char in string:
    Reversed = char + Reversed
print(f"The reversed string is: {Reversed}")

Enter a string: the weeknd
The reversed string is: dnkeew eht

In [90]:
# Find the minimum and maximum in a list: Take a list of numbers from the user and use a for loop to find the minimum and maximum values in the list.

x = input("Enter a list of numbers, separated by spaces: ")
numbers = [int(num) for num in x.split()]
min = numbers[0]
max = numbers[0]
for num in numbers:
    if num < min:
        min = num
    if num > max:
        max = num
print(f"The minimum value is: {min}")
print(f"The maximum value is: {max}")

Enter a list of numbers, separated by spaces: 1 2 3
The minimum value is: 1
The maximum value is: 3

In [91]:
# Identify prime numbers in a range: Use a for loop to identify and print all prime numbers between 10 and 50.

for num in range(10, 51):
    prime = True
    for i in range(2, num):
        if num % i == 0:
            prime = False
            break
    if prime and num > 1:
        print(num)

11
13
17
19
23
29
31
37
41
43
47

In [92]:
# Check if a number is a palindrome: Write a while loop to check if a given integer is a palindrome (the same forwards and backwards).
num = int(input("Enter a number to check if it's a palindrome: "))
num_str = str(num)
if num_str == num_str[::-1]:
    print(f"{num} is a palindrome!")
else:
    print(f"{num} is not a palindrome.")

Enter a number to check if it's a palindrome: 10
10 is not a palindrome.

In [94]:
start = 10
end = 50

# Loop through each number in the range
for num in range(start, end + 1):
    if num > 1:
        # Check if number is prime
        for i in range(2, int(num ** 0.5) + 1):
            if (num % i) == 0:
                break
        else:

            print(num)
start = 10
end = 50
for num in range(start, end + 1):
    if num > 1:
        for i in range(2, int(num ** 0.5) + 1):
            if (num % i) == 0:
                break
        else:
            print(num)

11
13
17
19
23
29
31
37
41
43
47
11
13
17
19
23
29
31
37
41
43
47